* {
  margin: 0px;
  padding: 0px;
  color: black;
}

body {
  font-family: Georgia, Times, sans-seriff;
}
/* ---- NAV Section ----*/
.bg-nav-custom {
  border-bottom: 1px solid rgb(6, 99, 157);
}
.custom-title-nav {
  font-size: 32px;
}
/* ---- About Me ---- */
.custom-row-bg {
  background-color: #1F3541;
  border-radius: 3px;
}
.custom-img {
  border: 2px solid orange;
  box-shadow: 0 0 10px 1px orange;
}
/* -- End of About Me -- */
.custom-h4-items-ed{
  background-color: black;
  border: 2px solid orange;
  border-radius: 25px;
}

.custom-card-style {
  background-color: #1F3541;
}

.custom-category-h2{
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  letter-spacing: 4px;
}

.custom-rlinks-h3 {
  color: black;
  border-bottom: 2px solid black; 
  letter-spacing: 4px;
  background-color: transparent;
}

.custom-card-title {
  background-color: #30e5dc23;
  color: #30e5dce9; 
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
  padding: 10px;
}

.custom-subtitle {
  border-bottom: 2px solid #30e5dce9;
  background-color: #30e5dc23;
  color: #30e5dce9;
  text-shadow: 1px 1px 1px black;
  width: fit-content;
  margin-left: 20px;
}
/* ---- Skills ---- */
.custom-full-list-style {
  border: 2px solid orange;

}
.custom-list-title {
  background-color: transparent;
  color: orange;
  border-bottom: 2px solid orange; 

}
.custom-list-item {
}

/* -- End of Skills -- */

/* .container-head-links {
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
.container-head-links button{
  font-size: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(6, 99, 157);
  background-color: white;
  border: 1px solid rgba(0, 77, 158, 0.25);
  height: fit-content;
  padding: 10px;
}
button:hover {
  background: #30e5dc;
  box-shadow: 0 0 5px #30e5dc, 0 0 25px #30e5dc, 0 0 50px #30e5dc, 0 0 200px #30e5dc;
} */
/* ---- End of NAV Section ---- */

h1, h2, p{
  text-align: left-justify;
}
h1{
  font-size: 32px;
}  


/* h3 {
  background-color: #30e5dc23;;
  color: #30e5dce9;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
  padding: 10px;
} */
h4 {
  background-color: rgba(29, 28, 28);
  color: white;
  
}

/* ---- Education Section ---- */
/* .container-education {
  width: 50%;
  height: 100%;
  display: flex; 
  flex-direction: column; 
}
.container-info {
  padding: 10px 0px;
  margin: 5px;
  background-color: #1F3541;
  border-radius: 15px;
}
.list-left-border {
  border-left: 2px solid #30e5dce9;;
}

dl {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px;
}
dt {
  background-color: #1F3541;
  color: white;
  padding: 10px;
} */


/* ---- End of Education Section ---- */

h1 , h2, h4, p{
  margin-left: 15px;
  padding: 10px 10px;
}
p {
  color:#665544;
}
a {
  color: #30e5dce9;
  text-decoration:none;
  margin: 0px;
  padding: 0px;
}
a:hover {
  color: rgb(122, 5, 177);
  text-decoration: underline;
}

a:visited {
  color: rgb(9, 14, 94)
}
a:active{
  color: rgb(62, 74, 238)
}

b {
  color: rgb(14, 194, 104)
}
i {
  color: #30e5dc;
}
/* .container-skills {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.skill-category {
  border-bottom: 2px solid black;
  margin-bottom: 5%;
  text-align: center;
}
.skill-list {
  list-style-type: none;
  width: 28em;
  height: fit-content;
  text-align: center;
  animation-name: fade-up;
  animation-duration: 2s;
  border: 2px solid lime;

}
.container-projects{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.github-logo-div {
  width: 125px;
  height: 125px;
  
}
.github-img {
  width: 100%;
  height: 100%;
}

.Resume-Body {
  border: 2px solid black;
  background-color: rgb(250,110,0);
}
.category {
  max-width: 100%;
  min-width: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topic {
  color: rgb(8, 90, 60);
  letter-spacing: 10px;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 25px;
}

@keyframes fade-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
} */